#############
## Windows
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# anything from netlogo category
NetLogo 5.3.1/

# Rstudio files
*.Rproj.user
*.Rproj
*.Rhistory


.Rproj.user

.RData

*.sav

*.history
